html {
    background-color: #090909;
    font-size: 20px;
    height: 120%;
}

body {
    width: 85%;
    height: 100%;
    margin: 0 auto;
    background-color: #2e2e2e;
    padding: 0 20px 0 20px;
    display: table;
}

header {
    background: #234c6c;
    height: 200px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.right-bottom {
    display: block;
    position: inherit;
    right: 10px;
    bottom: 10px;
    text-align: right;
}

.white-text {
    color: white;
}

h1 {
    color: white;
}

strong {
    color: gray;
}

a:link {
    color: #afafaf;
    background-color: transparent;
    text-decoration: none;
}

footer {
    background: #234c6c;
    height: 50px;
}


/*body {
    display: table;
    width: 100%;
}
*/

body>footer {
    display: table-row;
}