html {
    background-color: #090909;
    font-size: 20px;
    height: 100%;
}

body {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    background-color: #2e2e2e;
    padding: 0 20px 0 20px;
    display: table;
}

header {
    background: #234c6c;
    height: 200px;
}

footer {
    background: #234c6c;
    height: 50px;
}

body>footer {
    display: table-row;
}

h1 {
    color: white;
}

strong {
    color: gray;
}

a:link {
    color: #afafaf;
    background-color: transparent;
    text-decoration: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.right-bottom {
    display: block;
    position: inherit;
    right: 10px;
    bottom: 10px;
    text-align: right;
}

.white-text {
    color: white;
}

.topnav {
    background-color: #234c6c;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 14px;
}

.topnav a:hover {
    background-color: #afafaf;
    color: black;
}

.topnav a.active {
    background-color: #3b527c;
    color: white;
}

.content {
    background: #c0c0c031;
    padding: 10px 20px 10px 20px;
    margin: 10px auto;
}