html {
    background-color: #090909;
    font-size: 20px;
    height: 100%;
}

body {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    background-color: #2e2e2e;
    padding: 0 20px 0 20px;
    display: table;
}

header {
    background: #234c6c;
    height: 200px;
}

footer {
    background: #234c6c;
    height: 50px;
}

body>footer {
    display: table-row;
}

p {
    text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
}

strong {
    color: gray;
}

a:link {
    color: #afafaf;
    background-color: transparent;
    text-decoration: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.right-bottom {
    display: block;
    position: inherit;
    right: 10px;
    bottom: 10px;
    text-align: right;
}

.white-text {
    color: white;
}

.tab-control {
    width: 100%;
}

.tab-control #topnav {
    background-color: #234c6c;
    overflow: hidden;
    cursor: hand;
}

.tab-control .tabs {
    display: inline;
    list-style-type: none;
}

.tab-control .tabs li {
    float: left;
}

.tab {
    color: #f2f2f2;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}

.tab:hover {
    background-color: #afafaf;
    color: black;
}

.active {
    background-color: #3b527c;
    color: white;
}

.tab-control #content {
    background: #c0c0c031;
    padding: 10px 20px 10px 20px;
    margin: 10px auto;
}

.tab-content {
    display: none;
    color: white;
}

.member-tag {
    width: 90%;
    background-color: #234c6c6b;
    padding: 10px 10px 10px 10px;
    margin: 10px auto;
}

.member-img {
    float: left;
    border: 1px solid white;
    display: inline;
    margin-right: 10px;
}

.member-bio {
    display: inline;
    width: 70%;
}